<div id="<%= dom_id order_detail %>">
  <p>
    <strong>Order:</strong>
    <%= order_detail.order_id %>
  </p>

  <p>
    <strong>Item:</strong>
    <%= order_detail.item %>
  </p>

  <p>
    <strong>Belongs to:</strong>
    <%= order_detail.belongs_to %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= order_detail.amount %>
  </p>

</div>
